/***************/
  /* Header 920PX*/
/***************/

@media (max-width: 57.5em) {

     .header {
      justify-content: space-between;
    }

    .logo {
        width: 15rem;
    }

    .name {
        font-size: 1.5rem;
    }

    .gallery-item figcaption {
        font-size: 2rem;
    }
  }




/***************/
/* Header Ham-Menu 700PX */
/***************/


@media (max-width: 43.75em) 

 {.ham-menu {
      display: block; /* Show the hamburger menu at 700px or smaller */
  }

  .main-nav {
      display: none; /* Hide the primary navigation */
  }
  
  .header {
    justify-content: space-between; /* Adjust alignment for smaller screens */
  }
}



@media (min-width: 43.76em) { /* Above 700px */
  .ham-menu {
      display: none; /* Hide the hamburger menu */
  }

  .main-nav {
      display: block; /* Show the primary navigation */
  }

}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .footer-links, .footer-map {
    width: 100%; /* Make sections full width */
  }
}