/***************/
  /* Header */
/***************/

@media (max-width: 57.5em) {

     .header {
      justify-content: space-between;
    }

    .logo {
        width: 15rem;
    }

    .name {
        font-size: 1.5rem;
    }

    .gallery-item figcaption {
        font-size: 2rem;
    }
    .ham-menu {
      display: none; 
    }
  }


  @media (max-width: 48em) 
    {
      .ham-menu {
        display: block; /* Show the menu only when the screen is 720px or smaller */
      }
  
      .main-nav {
        display: none;
      }
  } 
  